@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}   
body{
    background-color: rgb(238, 236, 236);
    font-family: 'Roboto', sans-serif;
}
#tables{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}
.h2{
    text-align: center;
}
h1{
    text-align: center;
}
header{
    height: 250px;
    display: flex;
    justify-content: center;
    background-color: rgb(42, 194, 100);
}
img{
    height: 250px;
}
table,
tr,
td,
th{
    text-align: center;
    height: 75px;
    width: 450px;
    border: 3.5px solid black;
    border-collapse: collapse;
}
input{
    width: 50px;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    text-align: center;
    background-color: black;
    color: white;
}
h3,
button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
button{
    margin-left: 679px;
    height: 30px;
    width: 150px;
    font-size: 15px;
    background-color: rgb(248, 178, 178);
    border-radius: 30px;
    box-shadow: 6px 6px 6px #ccc7c7, -6px -6px 6px beige ;
}
th{
    background-color: rgb(0, 151, 63);
    color: white;
}
h1{
    text-decoration: solid;
    font-size: 40px;
}
#scroll{
    margin-left: 630px;
    position: relative;
    animation: mymove 3s infinite;
    animation-play-state: running;
}
@keyframes mymove{
    from{
        top: 5px;
    }
    to{
        top: 50px;
    }
}
